# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Datasets and Audio Files (DO NOT UPLOAD TO GITHUB)
data/
*.wav
*.mp3

# Compiled Models (We will upload the final quantized model later)
*.h5
*.hdf5
*.keras
*.csv
saved_models/